<div class="lightBox__base">
    <div class="container">
        <div class="lightBox__content col-xs-10 col-sm-6 col-md-5 col-lg-4">
            <h3 class="lightBox__hl" data-register="Create an account" data-login="Existing customer"></h3>

            <p class="lightBox__text" data-login="If you already have an account, please enter your e-mail address and password below."
               data-register="Creating an account is easy. Just fill in the form below and enjoy the benefits of having an account."
               ></p>

            <form class="lightBox__form clearfix" data-register="/account" data-login="/account/login"
                  accept-charset="UTF-8" autocomplete="off" action="/account" method="post">
                <input data-register="create_customer" data-login="customer_login" name="form_type" type="hidden"
                       value="create_customer">
                <input name="utf8" type="hidden" value="✓">

                <div class="lightBox__inputField">
                    <input class="lightBox__input lightBox__input--firstName" type="text" name="customer[first_name]">
                    <label class="lightBox__label">First Name</label>
                </div>

                <div class="lightBox__inputField">
                    <input class="lightBox__input lightBox__input--lastName" type="text" name="customer[last_name]">
                    <label class="lightBox__label">Last Name</label>
                </div>

                <div class="lightBox__inputField">
                    <input class="lightBox__input" name="customer[email]" required onfocus="this.type='email'">
                    <label class="lightBox__label" title="Email Address required.">Email</label>
                </div>

                <div class="lightBox__inputField">
                    <input class="lightBox__input" name="customer[password]" required onfocus="this.type='password'">
                    <label class="lightBox__label" title="Password required.">Password</label>
                </div>

                <a href="/account/login#recover" target="_blank" class="lightBox__forgotPasswordLink">Forgot Password ?</a>

                <label class="lightBox__checkboxLabel" for="agree">
                    <input class="lightBox__checkbox" type="checkbox" id="agree"/>
                        <span>I agree with the <a class="lightbox__checkboxLink" target="_blank" href="/pages/terms-and-conditions">Terms and
                                Conditions</a>.</span>
                </label>

                <div data-register="Register" data-login="Sign in" class="lightBox__btn lightBox__submitBtn">register</div>
                <div class="lightBox__separator"></div>
                <div data-register="Existing customer ?" data-login="Create an account" class="lightBox__btn lightBox__switchBtn">
                    existing customer ?
                </div>
            </form>
            <div class="lightBox__closeBtn"><i class="fa fa-times"></i></div>
        </div>
    </div>
</div>

<div class="lightBox__nav {{ MA-lightboxMQ }}">
    <a href="{{ customer_login_link }}" class="lightBox__navLink lightBox__loginLink">Log in</a>
    {% if shop.customer_accounts_optional %}
        <span>/</span>
        <a href="{{ customer_register_link }}" class="lightBox__navLink lightBox__registerLink">Join</a>
    {% endif %}
</div>