<ul class="MA-flyoutLinks {{ MA-flyoutMQ }}">
    <li><a class="MA-myprofileLink" href="/account">My Account</a></li>
    <li><a href="{{ customer_logout_link }}">Log Out</a></li>
    <li><a href="/account">My Wishlist</a></li>
    <li><a href="/account">My Profile</a></li>
</ul>