// Top Navigation: Currencies
#topnav {

    .currency__base {
        @include rem(font-size, $topnav-fontsize);
        float: right;
        line-height: $topnav-height;
        height: $topnav-height;
        position: relative;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .currency__verticalList {
        @include rem(padding, 0 14px);
        list-style: none;
        overflow: hidden;
        margin: 0;
        position: absolute;
        top: calc(#{$topnav-height} + 2px);
        right: 0;
        border: rem(1px) solid;
        display: none;
        cursor: pointer;

        .currency__active {
            line-height: $topnav-height;
            height: $topnav-height;
        }

        .currency__item {
            @include rem(line-height, 28px);
            @include rem(height, 28px);
            display: block;
        }
    }

    .currency__horizontalList {
        list-style: none;
        overflow: hidden;
        display: none;
        padding: 0;
        margin: 0;
        float: left;

        &:after {
            @include rem(margin-left, 5px);
            @include rem(margin-right, 5px);
            border-left: rem(4px) solid;
            border-right: rem(4px) solid;
            border-top: rem(4px) solid;
            content: "";
            width: 0;
            height: 0;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        .currency__item {
            line-height: rem($topnav-height);
            height: rem($topnav-height);
            display: inline-block;
            width: 0;
            float: left;
            cursor: pointer;
            overflow: hidden;
            -moz-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .currency__active {
            @include rem(margin-left, 10px);
            font-weight: bold;
            display: inline-block;
            cursor: pointer;
            width: auto;
        }
    }

    .currency__expandedList {

        &:after {
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .currency__item {
            @include rem(margin-left, 10px);
            display: inline-block;
            width: auto;
        }
    }

}