// Top Navigation: Currencies
#topnav {

    .currency__base {
        @include rem(font-size, $topnav-fontsize);
        float: right;
        line-height: $topnav-height;
        height: $topnav-height;
        position: relative;

        .visible-md { cursor: pointer; }
    }

    .currency__inlineDisplay,
    .currency__FlyoutDisplay { display: none; }

    .currency__FlyoutDisplay { cursor: pointer; }

    .currency__value {

        &:after {
            @include topnavArrowDown();
            content: "";
        }
    }

    .currency__verticalList {
        @include rem(padding, 0 14px);
        list-style: none;
        overflow: hidden;
        margin: 0;
        position: absolute;
        top: calc(#{$topnav-height} + 2px);
        right: 0;
        border: rem(1px) solid;
        display: none;
        cursor: pointer;

        .currency__item {
            @include rem(line-height, 28px);
            @include rem(height, 28px);
            display: block;

            &:hover { text-decoration: underline; }
        }
    }

    .currency__horizontalList {
        list-style: none;
        overflow: hidden;
        display: none;
        padding: 0;
        margin: 0;
        float: left;

        &:after {
            @include topnavArrowDown();
            content: "";
        }

        .currency__item {
            line-height: rem($topnav-height);
            height: rem($topnav-height);
            display: inline-block;
            width: 0;
            float: left;
            overflow: hidden;
        }

        .currency__active {
            @include rem(margin-left, 10px);
            display: inline-block;
            cursor: pointer;
            width: auto;
        }
    }

    .currency__expandedList {

        .currency__item {
            @include rem(margin-left, 10px);
            display: inline-block;
            width: auto;

            &:hover { text-decoration: underline; }
        }
    }

}