#topnav {

    .myAccount {
        @include rem(font-size, $topnav-fontsize);
        @include rem(margin-right, 20px);
        float: right;
        line-height: $topnav-height;
        height: $topnav-height;
        position: relative;
        cursor: pointer;
    }

    .myprofileLink {
        text-transform: uppercase;

        &:after {
            @include topnavArrowDown();
            content: "";
        }
    }

    .customerLinks {
        @include rem(padding, 0 14px);
        list-style: none;
        overflow: hidden;
        margin: 0;
        position: absolute;
        top: calc(#{$topnav-height} + 2px);
        right: 0;
        border: rem(1px) solid;
        display: none;
        cursor: pointer;
        text-transform: uppercase;

        li {
            @include rem(line-height, 28px);
            @include rem(height, 28px);
            display: block;

            &:hover { text-decoration: underline; }
        }

        a {
            text-decoration: none;
            white-space: nowrap;
        }
    }

    .flyoutLinks { display: none; }

    .lightBox__base {
        z-index: index($z-layers, lightbox);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        cursor: default;
        overflow: auto;
        display: none;
    }

    .lightBox__content {
        border: rem(1px) solid;
        margin: 10% auto;
        float: none;
        padding-top: rem(15px);
        padding-bottom: rem(15px);
        position: relative;
        visibility: hidden;
    }

    .lightBox__hl {
        font-size: rem(20px);
        text-transform: uppercase;
        line-height: rem(10px);
        padding-top: rem(5px);
        margin-bottom: rem(25px);
        font-weight: 400;
    }

    .lightBox__text {
        font-size: rem(12px);
        font-weight: 300;
        line-height: rem(15px);
        margin-top: 0;
        margin-bottom: rem(30px);
    }

    .lightBox__inputField {
        width: 100%;
        margin: 0 0 rem(25px);
        float: left;
        position: relative;
        border-bottom: rem(1px) solid;

        @include breakpoint(tablet) {
            width: calc(50% - #{rem(7.5px)});

            &:nth-child(even) { float: right; }
        }

        &.is-active .lightBox__label { top: rem(-20px); }
    }

    .lightBox__input {
        @include rem(padding, 0 10px);
        float: left;
        width: 100%;
        border: 0;
        margin: 0;
        outline: none;
        line-height: rem(25px);
        font-size: rem(12px);
        font-weight: 300;
        border-radius: 0;
    }

    .lightBox__label {
        pointer-events: none;
        position: absolute;
        padding: 0;
        border: 0;
        margin: 0;
        top: 0;
        left: 0;
        line-height: rem(25px);
        font-size: rem(12px);
    }

    .lightBox__input:required + .lightBox__label:after {
        content: "*";
        padding-left: rem(5px);
    }

    .lightBox__btn {
        height: rem(30px);
        line-height: rem(30px);
        font-size: rem(12px);
        font-weight: 400;
        text-transform: uppercase;
        width: 100%;
        float: left;
        text-align: center;
        cursor: pointer;
    }

    .lightBox__switchBtn {
        border: rem(2px) solid;
    }

    .lightBox__separator {
        float: left;
        width: 50%;
        margin: rem(10px) 0 rem(10px) 25%;
        border-bottom: rem(1px) dotted;
    }

    .lightBox__closeBtn {
        position: absolute;
        top: rem(-20px);
        right: rem(-15px);
        font-size: rem(20px);
        line-height: 0;
        cursor: pointer;
    }

    .lightBox__checkboxLabel,
    .lightBox__forgotPasswordLink {
        font-size: rem(12px);
        margin-bottom: rem(15px);
        line-height: rem(12px);
        float: left;
        clear: both;
        padding: 0;
    }

    .lightbox__checkboxLink,
    .lightBox__forgotPasswordLink { text-decoration: underline; }

    .lightBox__nav { display: none; }

    .lightBox__navLink {
        text-transform: uppercase;

        &:hover { text-decoration: underline; }
    }
}
